.menuList{
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.menuList h1{
    font-size: 1.8rem;
    color: teal;
}
.rel_post{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.rel_post img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    cursor: pointer;
}
.rel_post button{
    width: max-content;
    font-weight: bold;
    padding: 10px 20px;
    border: 1px solid teal;
    cursor: pointer;
    background-color: white;
   color: teal;
}
.rel_post button:hover{
    border: 1px solid teal;
    background-color: lightcyan;
    color:black ;
}
.rel_post h2,.rel_post button{
    cursor: pointer;
}