.write_div{
    margin: 3% 5%;
    display: flex;
    gap: 20px;
}
.write_content{
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* border: 1px solid lightgray; */
}
.write_content input{
    padding: 10px;
    border: 1px solid lightgray;
}
.editor_Container{
    height: 300px;
    overflow: hidden;
    /* border: 1px solid lightgray; */
    margin-bottom: 50px;
}
.editor{
    height: 100%;   
    border: 1px solid lightgray;

}
.write_menu{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.w_item{

    flex: 1;
    padding: 10px;
    border: 1px solid lightgray;
     display: flex;
   flex-direction: column;
    justify-content: space-between;
    font-size: .9rem;
}
.w_item span{
    text-align: left;
}
.img_label{
    color: darkblue;
    font-weight: bold;
}
.btns{
    display: flex;
    justify-content: space-between;   
}
.cate{
    display: flex;
    align-items: center;
    gap: 6px;
    color: teal;
}
.btns button{
    cursor: pointer;
    color: white;
    background-color: teal;
    padding: 5px 6px;
    border: 1px solid lightgray;
    /* border-radius:5px ; */
}


@media screen and (max-width:768px){
    .write_div{
        margin: 0% 5%;
     flex-direction: column;     
    }
    .w_item{
        gap: 10px;
    }
}